.vscode/

libs/core/build/*
build/*

frameworks_tests/__pycache__/*
frameworks_tests/cpp_loops
frameworks_tests/cpp_loops_o3

*.root

first_steps/check_top_channel


core/build/*

tmp_configs/*


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
